<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>File Upload</title>
  </head>
  <body>
    <form
      class="file-upload-form"
      action="/files"
      method="POST"
      enctype="multipart/form-data"
    >
      <h2>Upload the file</h2>
      <% if (folders.length!==0) {%>
      <label for="folders">Choose a folder:</label>
      <select for="folders" name="folders">
        <% folders.forEach((folder) => { %>
        <option
          id="<%= folder.id%>"
          value="<%= folder.id%>"
          name="<%= folder.name %>"
        >
          <%= folder.name %>
        </option>
        <% }); %>
      </select>
      <%}%>
      <label for="file">
        <input type="file" name="file" id="file" required />
      </label>
      <button type="submit" class="upload-btn">Upload</button>
      <% if (error!== null) {%>
      <p class="error"><%= error %></p>
      <% }%>
    </form>
  </body>
</html>
